<div id="spree-header">
  <!--<figure id="logo" class="col-md-4 col-sm-3" data-hook>
          <%= logo %>
        </figure>-->
        <header id="header" data-hook>
           <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <%= image_tag("spree_header.png") %>
                    <div class="container">
                      <div class="carousel-caption">
      
                      </div>
                    </div>
                  </div>
                  <!--Insert carousel here-->
                </div>
            <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>-->
          </div><!-- /.carousel -->
        
        </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
