<div id="spree-header">
   <div class="container" >
  </div>
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
  

  <div class="row">
      <div class="container" style="display: center;">
              <div class="col-md-4 col-xs-4" id="sizof" style="background-color: whitesmoke;">
                    <%= image_tag("app.png") %> 
                  
                  <div class="view-button">
                      <a href="http://www.expressmobilephone.com/t/categories/new-node"><p class="view-button-title">View Apple Products </p> </a>
                  </div>
              </div>


               <div class="col-md-4 col-xs-4" id="sizof" style="background-color: whitesmoke;">
                          <%= image_tag("samsungh.png") %> 
                           
                        <div class="view-button">
                            <a href="http://www.expressmobilephone.com/t/categories/samsung"><p class="view-button-title">View Samsung Products </p> </a>
                        </div>
               </div>
   
                <div class="col-md-4 col-xs-4" id="sizof" style="background-color: whitesmoke;">
                        <%= image_tag("adaptor.png") %> 
                        
                        <div class="view-button">
                              <a href="http://www.expressmobilephone.com/t/categories/accessories"><p class="view-button-title">View Accessories</p> </a>
                        </div>
              </div>
     </div>   
     </div>

