<% if spree_current_user %>
  <li><%= link_to Spree.t(:my_account), spree.account_path  %></li>
  <li ><%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  
  <li id="link-to-login" class="btn btn-primary-outline"><%= link_to 'Sign Up', spree.signup_path, id: "whiteoverride" %></li>
  <li id="link-to-login" class="btn btn-primary-outline"><%= link_to Spree.t(:login), spree.login_path, id: "whiteoverride" %></li>
<% end %>
